In [ ]:
maiornumero = int(input("Digite um número: "))
for i in range(5):
    numero = int(input("Digite um número: "))
    if numero > maiornumero:
        maiornumero = numero
print("O maior número é:", maiornumero)

In [ ]:
for numero in range(1000, 2001):
    if numero % 11 == 2:
        print(numero)

In [ ]:
soma = 0
for i in range(5):
    numero = float(input("Digite um número: "))
    soma += numero
media = soma / 5
print("A soma dos números é:", soma)
print("A média dos números é:", media)

In [ ]:
numero = int(input("Digite um número da tabuada: "))
for tabuada in range(1, 11):
    resultado = numero * tabuada
    print(numero, "*", tabuada, "=", resultado)

In [ ]:
for numero in range(1, 11):
    for tabuada in range(1, 11):
        resultado = numero * tabuada
        print(numero, "X", tabuada, "=", resultado)
    print()

In [ ]:
print("Números um abaixo do outro:")
for numero in range(1, 21):
    print(numero)


print("Números um ao lado do outro:")
for numerolado in range(1, 21):
    print(numerolado, end=" ")

In [ ]:
for numero in range(1, 51, 2):
    print(numero)

In [ ]:
numero1 = int(input("Digite o primeiro número: "))
numero2 = int(input("Digite o segundo número: "))

for numero in range(numero1, numero2 + 1):
    print(numero, end=" ")

In [ ]:
pares = 0
impares = 0

for n in range(10):
    numero = int(input("Digite um número: "))
    if numero % 2 == 0:
        pares += 1
    else:
        impares += 1

print("Quantidade de números pares:", pares)
print("Quantidade de números ímpares:", impares)

In [ ]:
faturamentoloja = 0

for cliente in range(5):
    valordacompra = float(input("Digite o valor da compra: "))
    faturamentoloja += valordacompra

if faturamentoloja > 54000:
    diferenca = faturamentoloja - 54000
    print("O faturamento da loja foi maior que da loja B por", diferenca)
else:
    print("O faturamento da loja não foi maior que da loja B.")

In [ ]:
base = int(input("Digite o número da base: "))
expoente = int(input("Digite o número do expoente: "))


potencia = 1

for p in range(expoente):
    potencia *= base

print(potencia)

In [ ]:
for n in range(999999999999999):
    nota = float(input("Digite uma nota de zero e dez: "))
    if 0 <= nota <= 10:
        print("Nota válida:", nota)
        break
    else:
        print("Nota inválida. Digite uma nota de zero e dez.")

In [ ]:
for valorcompra in range(500, 3000, 100):
    descontopercentual = (valorcompra - 500) // 100
    if descontopercentual > 25:
        descontopercentual = 25
    valorfinal = valorcompra * (1 - descontopercentual / 100)
    print("R$", valorcompra, "-", descontopercentual, "% - R$", valorfinal)

In [ ]:
salario = float(input("Digite Salário Inicial: "))
percentual = 0.015

for i in range(1995, 2025):
  aumento = salario * percentual
  salario += aumento
  percentual *= 2
print(f"Salário em {i} = {salario:.2f}")

In [ ]:
N = int(input("Digite um número: "))
primos = [] # Lista
divisoes = 0
for numero in range(2, N + 1):
    for i in range(2, int(numero ** 0.5) + 1):
        divisoes += 1
        if numero % i == 0:
            break
    else:
        primos += [numero]

print(f"Os números primos até {N} são:")
print(primos)
print(f"O número total de divisões realizadas foi: {divisoes}")

In [ ]:
ate_15 = 0
de_16_a_30 = 0
de_31_a_45 = 0
de_46_a_60 = 0
acima_de_61 = 0

for i in range(15):
    idade = int(input(f"Digite a idade da pessoa {i+1}: "))

    if idade <= 15:
        ate_15 += 1
    elif 16 <= idade <= 30:
        de_16_a_30 += 1
    elif 31 <= idade <= 45:
        de_31_a_45 += 1
    elif 46 <= idade <= 60:
        de_46_a_60 += 1
    else:
        acima_de_61 += 1

total_pessoas = ate_15 + de_16_a_30 + de_31_a_45 + de_46_a_60 + acima_de_61

percentual_ate_15 = (ate_15 / total_pessoas) * 100
percentual_acima_61 = (acima_de_61 / total_pessoas) * 100

print("\nQuantidade de pessoas em cada faixa etária:")
print(f"Até 15 anos: {ate_15}")
print(f"De 16 a 30 anos: {de_16_a_30}")
print(f"De 31 a 45 anos: {de_31_a_45}")
print(f"De 46 a 60 anos: {de_46_a_60}")
print(f"Acima de 61 anos: {acima_de_61}")

print("\nPercentagem de pessoas na primeira e última faixa etária:")
print(f"Percentagem até 15 anos: {percentual_ate_15:.2f}%")
print(f"Percentagem acima de 61 anos: {percentual_acima_61:.2f}%")